.burger-btn {
  position: fixed;
  top: 0.2em;
  right: 1em;
  font-size: 2.4rem;
  padding: 1.2rem;
  z-index: 1001;
  color: #232323;
  background-color: #CFC036;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.section {
  padding: 0em 1em 4em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section__header {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -2.56px;
  padding-top: 72.6px;
}
.section__title {
  margin-top: 0.5em;
  font-size: 2.4rem;
  font-weight: 400;
  color: #9F9E9E;
  letter-spacing: 0.64px;
  text-align: center;
}

.yellow-button {
  height: 4rem;
  width: 15.1rem;
  border-radius: 40px;
  background-color: #CFC036;
  font-weight: 700;
  font-size: 1.4rem;
  color: #232323;
  border: none;
  cursor: pointer;
}

.text {
  font-weight: 400;
  text-align: justify;
  font-size: 1.6rem;
  margin-top: 1em;
  color: #F5F5F5;
}

.readmore {
  background-color: transparent;
  border: none;
  color: #CFC036;
  font-weight: bold;
  cursor: pointer;
}

.margintop {
  margin-top: 1em;
}

.show {
  display: show;
}

@media (min-width: 768px) {
  .section__header {
    font-size: 9rem;
    padding-top: 120px;
  }
}
@media (min-width: 992px) {
  .section__header {
    font-size: 13rem;
  }
}
@media (min-width: 1200px) {
  .section__header {
    font-size: 16rem;
  }
}
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("/Fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("/Fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("/Fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("/Fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}
*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  max-width: 100vw;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  color: #dbd9d9;
  background-color: #333;
}

.mobile-nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #CFC036;
  z-index: 1002;
  transition: transform 0.3s;
}
.mobile-nav.close {
  transform: translateX(150%);
}
.mobile-nav.active {
  transform: translateX(0);
}
.mobile-nav__close-btn {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 4.8rem;
  color: #232323;
  cursor: pointer;
}
.mobile-nav .mobile-nav-header {
  position: absolute;
  top: 2em;
  left: 1em;
}
.mobile-nav .mobile-nav-header__name {
  font-size: 2.4rem;
  font-weight: 400;
  color: #232323;
}
.mobile-nav .mobile-nav-header__title {
  font-size: 1.6rem;
  font-weight: 400;
  color: #232323;
}
.mobile-nav .mobile-nav-header__line {
  margin-top: 1em;
  height: 1px;
  width: 100%;
  background-color: #232323;
}
.mobile-nav .mobile-nav-links {
  display: flex;
  flex-direction: column;
}
.mobile-nav .mobile-nav-links__link {
  margin-top: 2.4rem;
  margin-left: 1em;
  font-size: 2.4rem;
  letter-spacing: 0.168rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #232323;
}
.mobile-nav .mobile-nav-wrapper {
  margin-top: 3em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.mobile-nav .mobile-nav-wrapper__title {
  margin-bottom: 1em;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.168rem;
  color: #232323;
}
.mobile-nav .mobile-nav-wrapper__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
}
.mobile-nav .mobile-nav-wrapper__icon {
  font-size: 4rem;
  color: #232323;
}
.mobile-nav .mobile-nav-wrapper__email {
  margin-left: 1em;
  font-size: 2rem;
  text-decoration: none;
  color: #232323;
}
.mobile-nav .mobile-nav-wrapper__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.mobile-nav .mobile-nav-wrapper__link {
  font-size: 4rem;
  color: #232323;
  cursor: pointer;
}

.desktop-nav {
  position: fixed;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 196px;
  z-index: 100;
}
.desktop-nav__img {
  margin-top: 4rem;
  width: 155px;
  height: 99px;
}
.desktop-nav__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.desktop-nav__link {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.14rem;
  margin-top: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #F5F5F5;
}
.desktop-nav__link.active {
  background-color: #CFC036;
  color: #CFC036;
}
.desktop-nav__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
.desktop-nav__social {
  font-size: 2.6rem;
  color: #9F9E9E;
  margin-left: 0.5em;
}
.desktop-nav__line {
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #9F9E9E;
}

main {
  position: relative;
  max-width: 100%;
  min-height: 100%;
}
main .header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-bottom: 1em;
  top: 0;
  z-index: 1000;
  background-color: #333;
}
main .header__name {
  margin-top: 0.4em;
  font-size: 2.4rem;
  font-weight: 400;
  color: #F5F5F5;
  margin-left: 20px;
}
main .header__title {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9F9E9E;
  margin-left: 20px;
}
main .header__line {
  display: none;
  height: 1px;
  width: 100%;
  background-color: #9F9E9E;
  margin-top: 1em;
}
main .mobile-section-about {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .mobile-section-about .photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  margin-top: 3em;
}
main .mobile-section-about .photo-wrapper__img {
  position: relative;
  width: 216px;
  height: 216px;
  background-image: url(/img/wojtek-small.jpg);
  background-position: center;
  background-size: cover;
}
main .mobile-section-about .photo-wrapper__wheel {
  position: absolute;
  height: 176px;
  width: 176px;
  background-color: #8CA6C1;
  border-radius: 50%;
  right: -50px;
  top: -40px;
  z-index: -1;
}
main .mobile-section-about .photo-wrapper__line {
  position: absolute;
  left: -1em;
  top: 1.5em;
  height: 207px;
  width: 1px;
  background-color: aliceblue;
  z-index: -1;
}
main .mobile-section-about .button-wrapper {
  margin-top: 2em;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
main .mobile-section-about .button-wrapper__btn {
  margin: 0 1em;
}
main .mobile-section-about .text-wrapper {
  max-width: 100vw;
}
main .mobile-section-about .text-wrapper__text {
  margin-top: 1em;
  text-align: justify;
}
main .mobile-section-about .text-wrapper--expanded {
  display: none;
}
main .mobile-section-about .slider {
  width: 100vw;
  overflow: hidden;
  margin: 2em;
}
main .mobile-section-about .slider .viewport {
  display: flex;
  min-width: 100vw;
  transform: translateX(0px);
}
main .mobile-section-about .slider .viewport__slide {
  margin-left: 1em;
  height: 200px;
  width: 200px;
}
main .mobile-section-about .wishes {
  align-self: flex-start;
}
main .mobile-section-about .wishes__wish {
  font-size: 2.4rem;
  color: #9F9E9E;
  font-weight: 400;
  letter-spacing: 0.96px;
}
main .mobile-section-about .wishes__name {
  font-size: 2rem;
  color: #F5F5F5;
  font-weight: 400;
  letter-spacing: 0.8px;
}
main .mobile-section-about .wishes__line {
  margin-top: 1em;
  height: 1px;
  width: 100%;
  background-color: #9F9E9E;
}
main .mobile-section-about .hobby__title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #9F9E9E;
}
main .mobile-section-about .hobby-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
main .mobile-section-about .hobby-wrapper__title {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  color: #9F9E9E;
}
main .mobile-section-about .hobby-wrapper__wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 0.5em;
}
main .mobile-section-about .hobby-wrapper__wheel--one {
  background-color: #E9DD75;
}
main .mobile-section-about .hobby-wrapper__wheel--two {
  background-color: #CFC036;
}
main .mobile-section-about .hobby-wrapper__wheel--three {
  background-color: #A99B17;
}
main .mobile-section-about .hobby-wrapper__wheel--four {
  background-color: #85790E;
}
main .mobile-section-about .hobby-wrapper__text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1em;
  color: #F5F5F5;
  text-align: justify;
}
main .mobile-section-about .hobby-wrapper__text--expanded {
  margin-top: 1em;
  display: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #F5F5F5;
  text-align: justify;
}
main .mobile-section-about .hobby__line {
  height: 1px;
  width: 100%;
  background-color: #9F9E9E;
  margin-top: 1em;
}
main .mobile-section-about .hobby__thanks {
  margin-top: 1em;
  font-size: 2.4rem;
  color: #9F9E9E;
  letter-spacing: 0.96px;
}
main .section-about {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-about__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
main .section-about__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
}
main .section-about__text-header {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -2px;
}
main .section-about__text-title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #9F9E9E;
}
main .section-about__text-text {
  font-size: 1.4rem;
  margin-top: 1em;
}
main .section-about__text-name {
  font-size: 3.2rem;
}
main .section-about__text-name .fa-hand {
  margin-left: 0.5em;
  color: #CFC036;
}
main .section-about .section-about-photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 2em;
}
main .section-about .section-about-photo-wrapper__photo {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url(/img/wojtek-small.jpg);
  background-size: cover;
  background-position: center;
}
main .section-about .section-about-photo-wrapper__wheel {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #8CA6C1;
  border-radius: 50%;
  top: -2em;
  right: -1em;
  z-index: -1;
}
main .section-about .section-about-photo-wrapper__line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #9F9E9E;
  left: -1em;
  top: 1em;
}
main .section-about .section-about-photo-wrapper .section-about-contact-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 200px;
}
main .section-about .section-about-photo-wrapper .section-about-contact-wrapper__contact {
  margin-top: 0.5em;
  color: #9F9E9E;
  font-size: 1.6rem;
}
main .section-about .section-about-photo-wrapper .section-about-contact-wrapper__email {
  color: #F5F5F5;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
}
main .section-about .section-about-photo-wrapper .section-about-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-about .section-about-photo-wrapper .section-about-button-wrapper__button {
  margin-top: 1em;
}
main .section-about .section-about-img-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
}
main .section-about .section-about-img-wrapper__photo {
  height: 170px;
  width: 170px;
  margin-left: 1em;
}
main .section-about .section-about-hobby {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-about .section-about-hobby__header {
  align-self: flex-start;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.96px;
  color: #9F9E9E;
}
main .section-about .section-about-hobby__wheel {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
main .section-about .section-about-hobby__wheel--one {
  background-color: #E9DD75;
}
main .section-about .section-about-hobby__wheel--one:hover {
  background-color: #AAC3DE;
}
main .section-about .section-about-hobby__wheel--two {
  background-color: #CFC036;
}
main .section-about .section-about-hobby__wheel--two:hover {
  background-color: #8CA6C1;
}
main .section-about .section-about-hobby__wheel--three {
  background-color: #A99B17;
}
main .section-about .section-about-hobby__wheel--three:hover {
  background-color: #5D7690;
}
main .section-about .section-about-hobby__wheel--four {
  background-color: #85790E;
}
main .section-about .section-about-hobby__wheel--four:hover {
  background-color: #455E79;
}
main .section-about .section-about-hobby__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
main .section-about .section-about-hobby__column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}
main .section-about .section-about-hobby__title {
  font-size: 2rem;
  color: #9F9E9E;
  letter-spacing: 0.8px;
  font-weight: 400;
}
main .section-experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-experience__line {
  width: 100%;
  height: 1px;
  background-color: #9F9E9E;
}
main .section-experience a {
  display: flex;
  text-decoration: none;
  color: #F5F5F5;
}
main .section-experience__item {
  align-self: flex-start;
  margin-top: 1em;
}
main .section-experience__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0.2em;
  font-size: 2.4rem;
}
main .section-experience__title .fa-solid {
  margin-left: 0.5em;
  font-size: 2.5rem;
  color: #CFC036;
}
main .section-experience__title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #9F9E9E;
  bottom: 0;
  left: 0;
}
main .section-experience__hoverlink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #CFC036;
  border-radius: 50%;
  margin-left: 1em;
}
main .section-experience__hoverlink .gotoproject {
  display: none;
  color: #CFC036;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}
main .section-experience__hoverlink:hover svg {
  display: none;
}
main .section-experience__hoverlink:hover .gotoproject {
  display: block;
  color: black;
}
main .section-experience__hoverlink:hover {
  width: 10rem;
  border-radius: 20px;
}
main .section-experience__info-wrapper {
  display: none;
}
main .section-experience__job {
  font-size: 2rem;
  margin: 0.5em 0;
  color: #F5F5F5;
  font-weight: 400;
  letter-spacing: 0.8px;
}
main .section-experience__company {
  font-weight: 700;
  font-size: 1.6rem;
}
main .section-experience__date {
  font-weight: 700;
  font-size: 1.6rem;
}
main .section-experience__mobile-thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-experience__thanks {
  display: none;
}
main .section-experience__download {
  margin: 2em auto;
  display: none;
}
main .section-experience__download-mobile {
  margin: 2em auto;
}
main .section-contact {
  padding-bottom: 150px;
}
main .section-contact__photo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-contact__column-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-contact__photo {
  height: 160px;
  width: 160px;
  margin-top: 2em;
  background-image: url(/img/wojtek-small.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  z-index: 102;
}
main .section-contact__yellowwheel {
  position: absolute;
  height: 188px;
  width: 188px;
  left: -1.5em;
  top: 1em;
  transform: translateX(-50%, -50%);
  border-radius: 50%;
  background-color: #CFC036;
  z-index: 100;
}
main .section-contact__bluewheel {
  position: absolute;
  height: 145px;
  width: 145px;
  right: -2em;
  top: 2.5em;
  transform: translateX(-50%, -50%);
  border-radius: 50%;
  background-color: #8CA6C1;
  z-index: 101;
}
main .section-contact__name-wrapper {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .section-contact__name {
  font-weight: 400;
  font-size: 3.2rem;
  color: #F5F5F5;
  letter-spacing: 0.64px;
}
main .section-contact__specialization {
  font-size: 2rem;
  font-weight: 400;
  color: #9F9E9E;
}
main .section-contact__download {
  margin-top: 1em;
  display: none;
}
main .section-contact__wrapper-one {
  display: flex;
  flex-direction: column;
}
main .section-contact__wrapper-one .fa-solid {
  margin-left: 1em;
  margin-top: 0.3em;
  margin-right: 0.5em;
  font-size: 40px;
  color: #CFC036;
}
main .section-contact__mail {
  color: #F5F5F5;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}
main .section-contact__links-wrapper {
  align-self: flex-start;
}
main .section-contact__title {
  font-size: 3.2rem;
  font-weight: 400;
  color: #9F9E9E;
}
main .section-contact__wrapper-two {
  margin-top: 3em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
main .section-contact__socials-wrapper {
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
main .section-contact__socials-wrapper .fa-brands {
  margin-top: 1em;
  font-size: 4rem;
  color: #CFC036;
  cursor: pointer;
}
main .section-contact__socials-wrapper p {
  display: none;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
  main {
    padding-left: 196px;
  }
  main .header {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    z-index: -1;
  }
  main .header__name {
    font-size: 10rem;
  }
  main .header__title {
    font-size: 5rem;
  }
  main .header__line {
    display: none;
  }
  main .mobile-section-about {
    display: none;
  }
  main .section-about {
    display: flex;
  }
  main .section-about .section-about-img-wrapper {
    display: flex;
  }
  main .section-experience {
    position: relative;
  }
  main .section-experience__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
  main .section-experience__wrapper-two {
    position: relative;
    width: 50%;
    height: 50vh;
    margin-left: 5em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  main .section-experience__line-desktop {
    position: absolute;
    top: 1em;
    left: -2em;
    width: 1px;
    height: 100%;
    background-color: #9F9E9E;
  }
  main .section-experience__line {
    display: none;
  }
  main .section-experience__info {
    width: 50%;
  }
  main .section-experience__mobile-thanks {
    display: none;
  }
  main .section-experience__download {
    align-self: center;
    display: block;
  }
  main .section-experience__download-mobile {
    margin: 2em auto;
    display: none;
  }
  main .section-experience__thanks {
    display: block;
  }
  main .section-contact__socials-wrapper {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  main .section-contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  main .section-contact__name-wrapper {
    align-items: flex-start;
  }
  main .section-contact__download {
    display: block;
  }
  main .section-contact__column-wrapper {
    margin-left: 8em;
  }
  main .section-contact__bluewheel {
    right: -1.5em;
  }
  main .section-contact__social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100px;
  }
  main .section-contact__social-wrapper a {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  main .section-contact__social-wrapper a p {
    color: #F5F5F5;
    display: block;
    margin-left: 1em;
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  main .header__name {
    font-size: 15rem;
  }
  main .header__title {
    font-size: 10rem;
  }
  main .section-about__text-header {
    font-size: 10rem;
  }
  main .section-about__text-title {
    font-size: 3rem;
  }
  main .section-about__text-text {
    font-size: 1.6rem;
  }
  main .section-about .section-about-photo-wrapper__photo {
    width: 350px;
    height: 350px;
  }
  main .section-about .section-about-photo-wrapper__wheel {
    height: 300px;
    width: 300px;
    right: -3em;
    top: -4em;
  }
  main .section-about .section-about-photo-wrapper .section-about-button-wrapper {
    flex-direction: row;
  }
  main .section-about .section-about-photo-wrapper .section-about-button-wrapper__button {
    margin-left: 1em;
  }
  main .section-about .section-about-hobby__title {
    font-size: 2.5rem;
  }
  main .section-about .section-about-hobby__header {
    font-size: 5rem;
  }
  main .section-about-img-wrapper__photo {
    height: 300px;
    width: 300px;
  }
  main .text {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  main .header__name {
    font-size: 20rem;
  }
  main .header__title {
    font-size: 15rem;
  }
  main .section-about__text-header {
    font-size: 15rem;
  }
  main .section-about__text-title {
    font-size: 5rem;
  }
  main .section-about .section-about-photo-wrapper__photo {
    width: 450px;
    height: 450px;
    margin: 0 5em;
    background-image: url(/img/wojtek-big.jpg);
  }
  main .section-about .section-about-photo-wrapper .section-about-button-wrapper {
    flex-direction: row;
  }
  main .section-about .section-about-photo-wrapper .section-about-button-wrapper__button {
    margin-left: 1em;
  }
  main .section-about-img-wrapper__photo {
    height: 350px;
    width: 350px;
    margin-left: 4em;
  }
}/*# sourceMappingURL=style.css.map */