$background: #333;
$yellowone: #e9dd75;
$yellowtwo: #cfc036;
$yellowthree: #a99b17;
$yellowfour: #85790e;
$blueone: #aac3de;
$bluetwo: #8ca6c1;
$bluethree: #5d7690;
$bluefour: #455e79;
$header: #c9c9c9;
$theme: #9f9e9e;
$text: #dbd9d9;
$black: #232323;
$links: #f5f5f5;
