$background: #333;
$yellowone: #E9DD75;
$yellowtwo:#CFC036;
$yellowthree:#A99B17;
$yellowfour:#85790E;
$blueone:#AAC3DE;
$bluetwo:#8CA6C1;
$bluethree:#5D7690;
$bluefour:#455E79;
$header:#C9C9C9;
$theme: #9F9E9E;
$text: #dbd9d9;
$black: #232323;
$links: #F5F5F5;





