.close {
	transform: translateX(150%);
}

.active {
	transform: translateX(0);
}

.burger-btn {
	position: fixed;
	top: 1em;
	right: 1em;
	font-size: 2.4rem;
	padding: 1.2rem;
	z-index: 100;
	color: $black;
	background-color: $yellowtwo;
	border-radius: 50%;
	cursor: pointer;
}

.section {
	padding: 0em 1em 4em 1em;

	.section__header {
		font-size: 5rem;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: -2.56px;
	}

	.section__title {
		margin-top: 0.5em;
		font-size: 2.4rem;
		font-weight: 400;
		color: $theme;
		letter-spacing: 0.64px;
		text-align: center;
	}
}

.yellow-button {
	height: 4rem;
	width: 15.1rem;
	border-radius: 40px;
	background-color: $yellowtwo;
	font-weight: 700;
	font-size: 1.4rem;
	color: $black;
	border: none;
	cursor: pointer;
}

.text {
	font-weight: 400;
	text-align: justify;
	font-size: 1.6rem;
	margin-top: 1em;
	color: $links;
}

.readmore {
	background-color: transparent;
	border: none;
	color: $yellowtwo;
	font-weight: bold;
	cursor: pointer;
}

.margintop {
	margin-top: 1em;
}
