@media (min-width: 768px) {
	.burger-btn {
		display: none;
	}

	.desktop-nav {
		display: flex;
	}

	main {
		padding-left: 196px;

		.header {
			&__name {
				font-size: 9rem;
			}
			&__title {
				font-size: 5rem;
			}

			&__line {
				display: none;
			}
		}
		.mobile-section-about {
			display: none;
		}

		.section-about {
			display: flex;
		}

	}
}
